**/bin/
**/obj/
__pycache__/
*.py[cod]

tools/pro_opening_replay/data/
addons/counterstrikesharp/plugins/ProOpeningReplay/data/
addons/counterstrikesharp/plugins/ProOpeningReplay/data/*.json
*.log
addons/counterstrikesharp/plugins/BotState/Ray-Trace/
addons/counterstrikesharp/plugins/NadeSystem/libs/
addons/counterstrikesharp/plugins/BotAimImprover/libs/
external/
*.bak
tools/pro_opening_replay/data/*.sqlite
